.loginAndRegister{
  height: 300px;
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.username{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ec407a;
  font-size: 25px;
}

.password{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ec407a;
  font-size: 25px;
}

.buttons{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.buttons{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}