@import './nav.scss';
@import './layerview.scss';

html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  // min-height: 100%;
  height: 100vh;
}

.app {
  // min-height: 100%;
  height: 100vh;
}

.logo {
  display: flex;
  max-height: 9rem;
  justify-content: space-around;
}

.links {
  padding-top: 6rem;

  li {
    font-size: 2rem;
  }
}

.logo-image {
  height: 12em;
  width: 12em;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: left;
  font-size: 5em;
  color: #ec407a;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.container {  
  // min-height: 100%;
  height: 95vh;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 0.4fr 1.7fr 0.9fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "API-Call API-Call"
    "KeyList Visualizer"
    "Output Output";

  .API-Call { 
    grid-area: API-Call;
    .inputs {
      display: flex;
      justify-content: flex-start;
      margin: 1rem 2rem;
    }
    #standard-basic {
      min-width: 15rem;
    }
    #button {
      align-self: center;
      margin: 0px 2rem;
    }
   }

  .Output { 
    grid-area: Output; 
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -8rem;

    button {
      align-self: center;
      font-size: 1.2rem;    
      background-color: #f48fb1;
      padding: 0.8rem;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .KeyList { 
    grid-area: KeyList; 
    max-height: 35rem;
    max-width: auto;
    overflow: scroll;
    
    .keyButton {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: rgb(255, 255, 255);
      margin-bottom: 0.2rem;
      border: none;
      border-radius: 4px;
      height: 2rem;
      cursor: pointer;

    }

    keyButton:hover {

    } 

    .keyButton.style1 {
      background-color: #ec407a;
    }

    .keyButton.style2 {
      background-color: #f48fb1;
    }


    li {
      list-style: none;
    }
  }

  .Visualizer { grid-area: Visualizer; }
}

.Visualizer-cm.content {
  word-break: break-word;
  white-space: pre-wrap;
}

.CodeMirrorContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.CodeMirror {
  word-break: break-word;
  overflow-x: hidden;
  font-size: 1.5rem;
  width: 80rem;
  height: 2.5rem;
  border: 1mm solid pink;
}

.API-Call { grid-area: API-Call; }

.Output {
  grid-area: Output;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.KeyList { 
  grid-area: KeyList; 
  background-color:#ffc0cb;
}

.Visualizer { grid-area: Visualizer; }

.FlashError {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  z-index: 9999999;
  width: 60rem;
  height: 2rem;
  margin: -100px;
  margin-left: 20rem;
  text-align: center;
  align-items: center;
  background-color: #ec407a;

	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  .errorMessage {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
