

html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  // min-height: 100%;
  height: 874px;
}

.app {
  // min-height: 100%;
  height: 874px;
}

.container {  
  // min-height: 100%;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1.7fr 0.9fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "API-Call API-Call"
    "KeyList Visualizer"
    "Output Output";
}

.Visualizer-cm.content {
  word-break: break-word;
  white-space: pre-wrap;
}

.CodeMirror {
  word-break: break-word;
  overflow-x: hidden;
}

.API-Call { grid-area: API-Call; }

.Output { grid-area: Output; }

.KeyList { grid-area: KeyList; }

.Visualizer { grid-area: Visualizer; }
