.treeView {
  .API-Call {
    input {
      width: 50%;
      margin: 1em;
    }
  }

  .keysAndOutput {
    display: flex;
    height: 5rem;

    .KeyList {
      width: 50%;
      height: 100%;
    }

    .Output {
      width: 50%;
      height: 100%;
      
    }
  }
}